/* 전체 레이아웃과 기본 설정 */
body, html, a {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 12px;
    list-style:none;
    text-decoration : none;
}

a {
    color : #000;
}

a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}


.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-wrap {
    display: flex;
    width: 100%;
    flex: 1;
}

.main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 10px;
}

/* 탭 헤더 스타일 */
.tab-header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #000;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab:last-child {
    border-right: none;
}

/* 하이라이트 바 스타일 */
.highlight-bar {
   /* width: 100%;
    height: 4px;
    background-color: #007bff;
    border-bottom: 1px solid #ccc;*/
}

/* 차트 컨테이너 스타일 */
.chart-container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex: 1;
}

.chart {
    width: 100%;
    height: 100%;
    background-color: #fff
}

/* 탭 푸터 컨테이너 스타일 */
.tab-footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.tab-footer {
    flex: 1;
    height: 50px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

#tab-left {
    margin-right: 5px;
}

#tab-right {
    margin-left: 5px;
}

.tab-footer:hover {
    background-color: #d0d0d0;
}

/* 사이드바 스타일 */
.sidebar {
    width: 30%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ccc;
    flex: 1;
}

.sidebar-section {
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.top-content {
    margin-bottom: 20px;
}

.top-stocks, .global-indexes {
    margin-top: 10px;
}

.stock-item, .index-item {
    margin-bottom: 10px;
}

.stock-price, .index-value {
    float: right;
}

/* 추가 컨텐츠 스타일 */
.additional-content {
    width: 960px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin: 0 auto;
}

/* 최근 검색 영역 스타일 */
.recent-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recent-list {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
    margin: 10px auto;
    height: 44px;
    flex: 1;
    box-sizing: border-box;
}

.recent-title {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
}

.recent-search-box {
    background: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    flex: 1;
    border: 1px solid #ccc;
}

.bookmark-form {
    margin-left: 10px;
}

.bookmark-button {
    height: 45px;
    width: 80px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}

/* 주식 탭 스타일 */
.stock-tabs, .market-trend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stock-tab, .market-section {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.stock-tab:last-child, .market-section:last-child {
    margin-right: 0;
}

/* 주식 탭 제목 스타일 */
.stock-tab-title, .market-section-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* 주식 세부정보 스타일 */
.stock-details {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 추가 */
}

.stock-details span {
    flex: 1;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 추가 */
}

.bar-container {
    width: 100%; /* 바 컨테이너의 너비를 설정 */
    background-color: #e0e0e0; /* 바 컨테이너 배경 색상 */
    border: 1px solid #ccc; /* 바 컨테이너 테두리 색상 */
    border-radius: 4px; /* 바 컨테이너 둥근 모서리 */
    overflow: hidden; /* 바가 컨테이너를 넘지 않도록 */
    height: 24px; /* 바 컨테이너의 높이 설정 */
}

.bar {
    height: 100%; /* 바의 높이 설정 */
    background-color: #6BC310; /* 기본 색상 */
    border-radius: 4px; /* 바의 둥근 모서리 */
    transition: width 0.3s ease; /* 바의 너비 변경 시 애니메이션 */
}

/* 환율 정보 스타일 */
.exchange-rate {
   margin-top: 10px;
   padding: 10px;
   /*background-color: #f0f0f0;*/
   border: 1px solid #ccc;
}

.exchange-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.exchange-table {
    width: 100%;
    border-collapse: collapse;
}

.exchange-table th, .exchange-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.exchange-table th {
    background-color: #e0e0e0;
}

/* 더보기 버튼 스타일 */
.more-button {
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

/* 테이블 스타일 */
.stock-table {
    display: flex;
    flex-direction: column;
}

.stock-table-header {
    display: flex;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.stock-table-header span {
    flex: 1;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 추가 */
}

.header-name {
    text-align: left;
}

.header-ratio {
    text-align: center;
}

.header-chart {
    text-align: right;
}

.stock-details {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 추가 */
}

.stock-details span {
    margin: auto 12px;
    flex: 1;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 추가 */
}

.bar-container {
    flex: 1;
    width: 100%;
    margin: 0 10px;
    height: 3px;
    background-color: #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: #6BC310;
    transition: width 0.5s ease;
}

.header-marcap {
    text-align: right;
}

/* CSS 파일에 추가 */
.change-positive {
    color: red; /* 상승률은 빨간색 */
}

.change-negative {
    color: blue; /* 하락률은 파란색 */
}

