{% load static %} <!-- static 태그를 로드.  안하면 정적파일 로드 못함.-->



    <footer>
        <div class="footer-container">
            <div class="tech-stack">
                <h3>스택 기술</h3>
                <ul>
                    <li>
                        <img src="{% static 'images/Python.png' %}" alt="Python" class="tech-icon"> <!-- static 태그를 사용하여 이미지 경로 설정 -->
                        Python
                    </li>
                    <li>
                        <img src="{% static 'images/Django.png' %}" alt="Django" class="tech-icon">
                        Django
                    </li>
                    <li>
                        <img src="{% static 'images/Heroku.png' %}" alt="Heroku" class="tech-icon">
                        Heroku
                    </li>
                    <li>
                        <img src="{% static 'images/PostgreSQL.svg' %}" alt="PostgreSQL" class="tech-icon">
                        PostgreSQL
                    </li>
                       <li>
                           <img src="{% static 'images/MariaDB.png' %}" alt="MariaDB" class="tech-icon">
                        MariaDB
                       </li>
                    <li>
                        <img src="{% static 'images/HTML-CSS.svg' %}" alt="HTML/CSS" class="tech-icon">
                        HTML/CSS
                    </li>
                    <li>
                        <img src="{% static 'images/JavaScript.jpg' %}" alt="JavaScript" class="tech-icon">
                        JavaScript
                    </li>
                </ul>
            </div>
            <div class="ide">
                <h3>사용 IDE</h3>
                <ul>
                    <li><img src="{% static 'images/IntelliJ.png' %}" class="ide-icon">IntelliJ</li>
                    <li><img src="{% static 'images/PyCharm.png' %}" class="ide-icon">PyCharm</li>
                    <li><img src="{% static 'images/Spyder.png' %}" class="ide-icon">Spyder</li>
                    <li><img src="{% static 'images/TensorFlow.png' %}" class="ide-icon">TensorFlow</li>
                    <li><img src="{% static 'images/VSCode.svg' %}" class="ide-icon">VS Code</li>
                </ul>
            </div>
            <div class="rel-tool">
                <h3>협업 툴</h3>
                <ul>
                    <li><img src="{% static 'images/Figma.png' %}" class="rel-icon">Figma</li>
                    <li><img src="{% static 'images/GitHub.png' %}" class="rel-icon">GitHub</li>
                </ul>
            </div>
            <div class="roles">
                <h3>역할</h3>
                <ul>
                    <li>PM - 허정렬</li>
                    <li>AI 개발 - 전상욱</li>
                    <li>서버 개발 - 신준용</li>
                    <li>프론트엔드 개발 - 신준용</li>
                    <li>백엔드 개발 - 김영훈</li>
                    <li>백엔드 개발 - 김선진</li>
                </ul>
            </div>
            <div class="contact-info">
                <h3>개인 이메일</h3>
                <ul>
                    <li>herkwak@naver.com</li>
                    <li>tlswnsdyd3@naver.com</li>
                    <li>jeonsw119@naver.com</li>
                    <li>vfdgy0729@gmail.com</li>
                    <li>sunjin1307@naver.com</li>
                </ul>
            </div>
            <div class="project-info">
                <h3>프로젝트명</h3>
                <p>StockSage</p>
            </div>
        </div>
    </footer>

