{% load static %}

<header class="header">
    <div class="logo"><a href="/">LOGO</a></div>
    <div class="input-container">
        <form class="header-form"  method="get" action="/stock/info/">
            <input class="search-bar" type="text" id="stock-search1" name="ticker" placeholder="" autocomplete="off">
            <label class="header-label" for="stock-search1">종목명/종목코드를 입력해주세요.</label>
             <button type="submit" class="stock-search-bar">
            <img src="{% static 'images/Search-bar.svg' %}" alt="검색 아이콘">
        </button>
             <span class="underline"></span>

            <div id="search-results1"></div>
        </form>
    </div>
    <nav class="nav">
        <ul>
            {% if request.session.id %}
                <li class="nav-item"><a class="nav-link" href="/member/info">회원정보[{{request.session.id}}]</a></li>
                <li class="nav-item"><a class="nav-link" href="/member/logout">로그아웃</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/member/signup">회원가입</a></li>
                <li class="nav-item"><a class="nav-link" href="/member/login">로그인</a></li>
            {% endif %}
            {% if request.session.id == 'admin' %}
                <li class="nav-item"><a class="nav-link" href="/member/admin">관리자페이지</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
