{% extends 'base.html' %}
{% load humanize %}

{% block title %}Stock Sage - 홈{% endblock %}

{% block content %}
    <aside class="sidebar">
        <section class="exchange-rate">
            <h1>오늘의 환율</h1>
           <p> (조회시간 : {{ request_time }})</p>

            <div class="rate-item">
                <img src="{% url 'flag_image' 'KR' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/USD:</strong> {{ usd.bkpr }}</p>
            </div>
            <div class="rate-item">
                <img src="{% url 'flag_image' 'US' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/EUR:</strong> {{ eur.bkpr }}</p>
            </div>
            <div class="rate-item">
                <img src="{% url 'flag_image' 'CN' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/CNY:</strong> {{ cnh.bkpr }}</p>
            </div>
            <div class="rate-item">
                <img src="{% url 'flag_image' 'JP' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/JPY(100):</strong> {{ jpy.bkpr }}</p>
            </div>
            <div class="rate-item">
                <img src="{% url 'flag_image' 'GB' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/GBP(100):</strong> {{ gbp.bkpr }}</p>
            </div>
            <div class="rate-item">
                <img src="{% url 'flag_image' 'DK' %}" alt="국기" class="flag" style="width:30px; height:20px;">
                <p><strong>KRW/DKK(100):</strong> {{ dkk.bkpr }}</p>
            </div>
        </section>
    </aside>
    <section class="content">
         <!-- 차트 표시 -->
    <div class="kospi-chart">
        <h2>코스피</h2>
        <img src="data:image/png;base64,{{ kospi_chart }}" alt="코스피 차트" class="chart-image">
    </div>
        <div class="tabs">
            <button class="tab active" data-tab="gainers">상승률 상위</button>
            <button class="tab" data-tab="losers">하락률 상위</button>
            <button class="tab" data-tab="market-cap">시가총액</button>
            <button class="tab" data-tab="sector">종목별</button>
            <button class="tab" data-tab="industry">테마별</button>
        </div>
       <!-- 상승률 상위 탭 -->
       <div class="tab-content gainers active">
            <h2>상승률 상위</h2>
            <table class="stock-table">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>종목명</th>
                        <th>현재가</th>
                        <th>변화량</th>
                        <th>변화율</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in top_10_stocks %}
                    <tr>
                        <td class="rank-box">{{ forloop.counter }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.close }}</td>
                        <td class="{% if s.change > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {% if s.change > 0 %}
                                +{{ s.change }}
                            {% else %}
                                {{ s.change }}
                            {% endif %}
                        </td>
                        <td class="{% if s.chagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {% if s.chagesRatio > 0 %}
                                +{{ s.chagesRatio }}%
                            {% else %}
                                {{ s.chagesRatio }}%
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 하락률 상위 탭 -->
        <div class="tab-content losers">
            <h2>하락률 상위</h2>
            <table class="stock-table">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>종목명</th>
                        <th>현재가</th>
                        <th>변화량</th>
                        <th>변화율</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in row_10_stocks %}
                    <tr>
                        <td class="rank-box">{{ forloop.counter }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.close }}₩</td>
                        <td class="{% if s.change > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {{ s.change }}
                        </td>
                        <td class="{% if s.chagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {{ s.chagesRatio }}%
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 시가총액 탭 -->
        <div class="tab-content market-cap">
            <h2>시가총액</h2>
            <table class="stock-table">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>종목명</th>
                        <th>현재가</th>
                        <th>변화율</th>
                        <th>시가총액</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in top_10_tot %}
                    <tr>
                        <td class="rank-box">{{ forloop.counter }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.close }}₩</td>
                        <td class="{% if s.chagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {% if s.chagesRatio > 0 %}
                                +{{ s.chagesRatio }}%
                            {% elif s.chagesRatio < 0 %}
                                {{ s.chagesRatio }}%
                            {% else %}
                                {{ s.chagesRatio }}%
                            {% endif %}
                        </td>
                        <td>{{ s.marcap|intcomma }}₩</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 종목(sector)별 평균 등락률 탭 -->
        <div class="tab-content sector">
            <h2>종목별</h2>
            <table class="stock-table">
                <thead>
                <tr>
                    <th>순위</th>
                    <th>섹터명</th>
                    <th>변화율</th>
                </tr>
                </thead>
                <tbody>
                {% for s in sectors_data %}
                    <tr>
                        <td class="rank-box">{{ forloop.counter }}</td>
                        <td><a href="/stock/sector_detail?sector={{ s.Sector }}">{{ s.Sector }}</a></td>
                        <td class="{% if s.ChagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {% if s.ChagesRatio > 0 %}
                                +{{ s.ChagesRatio|floatformat:2  }}%
                            {% else %}
                                {{ s.ChagesRatio|floatformat:2  }}%
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 테마(industry)별 평균 등락률 탭 -->
        <div class="tab-content industry">
            <h2>종목별</h2>
            <table class="stock-table">
                <thead>
                <tr>
                    <th>순위</th>
                    <th>테마명</th>
                    <th>변화율</th>
                </tr>
                </thead>
                <tbody>
                {% for s in industries_data %}
                    <tr>
                        <td class="rank-box">{{ forloop.counter }}</td>
                        <td>{{ s.Industry }}</td>
                        <td class="{% if s.ChagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                            {% if s.ChagesRatio > 0 %}
                                +{{ s.ChagesRatio|floatformat:2  }}%
                            {% else %}
                                {{ s.ChagesRatio|floatformat:2  }}%
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
