{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ industry_name }} - 테마 상세 정보{% endblock %}

{% block content %}
    <section class="sector-detail">
        <h1>{{ sector_name }} 테마 상세 정보</h1>

        <table class="stock-table">
            <thead>
            <tr>
                <th>순위</th>
                <th>종목명</th>
                <th>현재가</th>
                <th>변화량</th>
                <th>변화율</th>
            </tr>
            </thead>
            <tbody>
            {% for s in top_stocks_list %}
                <tr>
                    <td class="rank-box">{{ forloop.counter }}</td>
                    <td>{{ s.Name }}</td>
                    <td>{{ s.Close }}₩</td>
                    <td class="{% if s.Changes > 0 %}change-positive{% else %}change-negative{% endif %}">
                        {{ s.Changes }}
                    </td>
                    <td class="{% if s.ChagesRatio > 0 %}change-positive{% else %}change-negative{% endif %}">
                        {% if s.ChagesRatio > 0 %}
                            +{{ s.ChagesRatio }}%
                        {% else %}
                            {{ s.ChagesRatio }}%
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
