{% extends 'base.html' %}

{% block title %}Stock Sage - {{ ticker }} 예측{% endblock %}

{% block content %}
    <h1>예측 가격 : {{ predict }}</h1>
    <form method="get" action="/stock/predict/">
        <input type="text" id="stock-search" name="ticker" placeholder="주식 코드 입력 (예: 068270)" autocomplete="off">
        <button type="submit">검색</button>
        <div id="search-results" style="position: absolute; background: white; border: 1px solid #ccc; z-index: 1000; width: 200px;"></div>
    </form>

{% endblock %}
